<div class="body">
    <div class="row col-md-12">
              <div class="img-bgrnd col-md-6">
                  <div id="logo">
                </div>
  
                  <!-- <h5 class="txt-header">Register now and connect with the leading businesses around you.</h5> -->
                  <div class="cont-info">
  
                  <!-- <div class="row col-md">
                    <i class="fas fa-address-card"></i>
                    <p class="col-md text">Join now and be connected</p>           
  
                  </div> -->
                  <!-- <div class="row col-md">
                      <i class="fas fa-share-alt"></i>
                      <p class="col-md icon-txt">Share business ideas with relevant industries</p>           
  
                    </div> -->
                    <!-- <div class="row col-md">
                        <i class="fas fa-user-plus"></i>
                        <p class="col-md text">Add your business profile with 1Lead</p>           
    
                      </div> -->
                  </div>
                </div>
  
              <div class="col-md-6">
                  <div class="modal-header">
                    <div classs="row">
                      <h5 class="modal-title" id="modal-basic-title">Enter your new password below<br> 
                        <p class="sub-header">Please provide your new password and reset code sent from email to get a new password</p>
                      </h5>
                      <div class="title-panel">
                          <button type="button" class="close" (click)="closeModal()" data-dismiss="modal" #closebutton aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                      </div>  
                    </div>
                  </div>
                  <div class="modal-body">
                      <form [formGroup]="myForm" (ngSubmit)="submitForm()">
  
                    <div class="container">
  
                        <input type="hidden" 
                        class="form-control"
                        formControlName="email" placeholder="Enter your email"/>

                          <div class="form-group">
                            <span> <input type="password" 
                              class="form-control"
                              formControlName="newPassword" placeholder="Enter your new password"/></span>
                              <bfv-messages></bfv-messages>
                          </div>
                          <div class="form-group">
                              <span> <input type="password" 
                                class="form-control"
                                formControlName="renewPassword" placeholder="Re-Enter your new password"/></span>
                                <bfv-messages></bfv-messages>
                            </div><div class="form-group">
                                <span> <input type="text" 
                                  class="form-control"
                                  formControlName="passwordResetCode" placeholder="Enter your reset code from email"/></span>
                                  <bfv-messages></bfv-messages>
                              </div>
          
          
  
                  </div>
                  <br>
                  <div class="modal-footer">
                      <button class="btn btn-success">
                        Change Password
                      </button>
  
                    </div>
                </form>
  
                  </div>      
  
              </div>
        </div> 
  </div>