<!-- <button type="button" class="btn btn-primary" (click)="open(content1)">
    Add Product
  
  </button> -->
  <br>
  <br>
  <ng-template #content1 let-modal>
    <form [formGroup]="myForm">

        <div class="container">



          <div class="form-group">
            <span>First Name <input type="text" class="form-control" formControlName="firstName"
                placeholder="First Name"></span>
            <bfv-messages></bfv-messages>
          </div>
          <div class="form-group">
            <span>Last Name <input type="text" class="form-control" formControlName="lastName"
                placeholder="Last Name"></span>
            <bfv-messages></bfv-messages>
          </div>
          <div class="form-group">
            <span>Phone Number <input type="text" class="form-control" formControlName="phonenumber" placeholder="Phone Number" /></span>
            <bfv-messages></bfv-messages>
          </div>
          <div class="form-group">
            <span>Email Address<input type="text" class="form-control" disabled formControlName="email"
                (keydown.space)="$event.preventDefault();" placeholder="Email Address" /></span>
            <bfv-messages></bfv-messages>
          </div>
          
          <div class="form-group">
            <span>Id Number<input type="text" class="form-control" formControlName="IdNumber"
                (keydown.space)="$event.preventDefault();" placeholder="Id Number" /></span>
          </div>
          <div class="form-group">
            <span>Is Active?<select formControlName="isActive"  class="form-control"
                >
               <option value="true" >Yes</option>
                   <option   value="false">No</option>
             </select></span>
          </div>

          
        </div>
        <div class="modal-footer">
        <!-- <div class="register-btn"> -->
          <button class="btn btn-primary" (click)="submitForm()">
            Save
          </button>
        <!-- </div> -->

        </div>
      </form>
  
  </ng-template>
  
  
  <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Email</th>
        <th scope="col">Id Number</th>

        <th scope="col">Delete</th>
        <th scope="col">Edit</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let progam of products">
        <th scope="row">{{progam.firstName}}</th>
        <td scope="row">{{progam.lastName}}</td>
        <td scope="row">{{progam.phonenumber}}</td>

        <td scope="row">{{progam.email}}</td>
        <td scope="row">{{progam.idNumber}}</td>

        <td scope="row">
          <a class="text-danger" (click)="open(content)">
            <i class="fa fa-trash-o" aria-hidden="true"></i>
          </a>
  
          <ng-template #content let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">Delete User</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Are you sure you want to delete this User?</p>
      
            </div>
            <div class="modal-footer">
              <button type="button" class="btn  decline" (click)="modal.close('Save click')">Decline</button>
              <button type="button" class="btn  delete" (click)="onDelete(progam.email)">Confirm</button>
      
            </div>
          </ng-template>
  
    
        </td>
        <td scope="row">
          <a class="btn" (click)="openEdit(progam.id,content1)">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
           </a>
    
        </td>
      </tr>
    </tbody>
  </table>
  