<div class="input-group">
    <input class="form-control border-secondary py-2" [(ngModel)]="searchTerm" (keyup)="searchLanguage($event)" type="search" placeholder="Search using Name">
    <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button">
            <i class="fa fa-search"></i>
        </button>
    </div>
  </div>
  <br/>

  <input type="button"  class="btn btn-primary" value="Convert To PDF" (click)="captureScreen()"/>  
<div id="contentToConvert">
  <h4>Language Report</h4>
  




  <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Description</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let progam of languages">
        <th scope="row">{{progam.name}}</th>
        <td scope="row">{{progam.description}}</td>
      </tr>
      <tr *ngIf="noResults">
        <td>No Results Were Found!</td>
  
      </tr>
    </tbody>
  </table>
</div>
