<app-menu></app-menu>
<!-- <img class="img-contact-banner" src="assets/about-us/contact-us.jpg" alt="About us">           -->
<br>
<br><br><br>
<br><br>
<br>
<div class="page">

  <div class="row">
    <div class="col-md-6">
      <div class="card card-signin my-5">
        <div class="card-body">
          <div class="v2-contact-para-blue-wrap1">
            <div class="v2-contact-head">
              <h1>Contact Us</h1>
              <h2>We're Here to Help</h2>
            </div>
          </div>
        </div>

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3595.583860159934!2d28.191091615019364!3d-25.68508598367158!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1ebfd92601c11301%3A0xd3f7b66c49a0deb5!2s27%20Ficus%20St%2C%20Annlin%2C%20Pretoria%2C%200066!5e0!3m2!1sen!2sza!4v1606648997862!5m2!1sen!2sza" width="550" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>      </div>

    </div>
    <div class="col-md-6 card-top">
      <div class="card card-signin1 my-5">
          <p><b>Contact Details : vitalityhome@remedies.co.za</b> | Tel: 0(+27) 12 786 2353</p>

      </div>
    </div>
  </div>

</div>
<div class="col-xlg footer-space">

<app-page-footer></app-page-footer>
</div>

<!-- //<div class="col-sm-9 col-md-12 col-lg-5 mx-auto"></div> -->