
$white :  #f6f6f6;
.footer{
    margin-top: 15%;
}
h1{
    margin-top: 5px;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
}
.card{
    height: 100%;
}
.card-body{
    background: $white none repeat scroll 0 0;

}
.img{
    width: 100%;
    position: relative;

}
.col-sm-4{
    padding: 1%;
}


.img2{
    width: 100%;
    height: 300px;
}
h5{
    font-weight: bold;
}
.title{
    text-align: center;

}
.intro-info{
    padding: 10px;
    font: 16px/19px Tahoma,Geneva,sans-serif;
    border-radius: 5px;
}

@media screen and (max-width:  992px) {
    .footer{
        margin-top: 300px !important;
    }
}