<app-menu></app-menu>
<img class="img" src="assets/about-us.jpg" alt="About us">          
   <br>
   <div class="page">


<h5 class="title">About Vitality Home Remedies</h5>
<div class="card intro-info">
<!-- <p>Make the world a better place</p>

<h5>Mission</h5>
<p>Application of Technology to everyday human challenges</p>

<h5>Our Services</h5>
<p>Although, more educational content is produced daily, the level of illiteracy is still very high in our society. This is largely due to the inability of the majority of the population to access educational content when required and at a reasonable cost. In addition, there are several trainers who still depend on classrooms to deliver their content, thereby denying a larger part of the population access to knowledge. 
      The increase in internet penetration has not improved this situation as the platform for the exchange of education material is limited and where available is expensive for those interested to afford the cost.</p>
<p> So many learners fail their examinations due to lack of access to quality education material at an affordable cost. Similarly, there are scholars and trainers who have knowledge  and  content without the platform to reach learners and their audience that require their services. </p>

<p>It is this gap that Affluence Learning is attempting to fill through this platform.  We intend to breach the gap by bringing together the public and educational service providers to enable more people have access to education at an affordable rate. Benefits include:</p>

<ul>
  1.  Access of more people to educational materials at an affordable price,
</ul>
<ul>
  2.  Increased literacy

</ul>
<ul>
   3. Increase in household income through content development by those brilliant ones that are unemployed.

</ul>
<ul>
    
   4. Increase in household income by those employed through development of contents.
</ul>
<ul>
   5. Increase pass rate of learners ; and
</ul>
<ul> 6. Up-skilling of unemployed to increase their chance of employment.</ul>
<p>This website is for:</p>
<ul>
    
   1. Learners.
</ul>
<ul>
    
   2. Trainers.
</ul>
<ul>
    
   3. Teachers.
</ul>
<ul>
    
   4. Lectures.
</ul>
<ul>
    
   5. Professors.
</ul>
<ul>
    
   6. Researchers.
</ul>
<ul>
    
   7. Unemployed Scholars.
</ul> -->
We believe in living for today - and tomorrow! Because our decisions
have a lasting impact, we make them thoughtfully. Our mission is to 
help people live a more natural life. We believe that our natural 
medicines and treatments are best for the times we live in and will
truly help you live better!
</div>



</div>


<div class="footer">
  <app-page-footer></app-page-footer>
</div>
