<button type="button" class="btn btn-primary" (click)="open(content1)">
    Add Product Language
  
  </button>
  <br>
  <br>
  <ng-template #content1 let-modal>
    <form [formGroup]="myForm">
  
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Product Language Details</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
            <p class="text-muted">Add Product Language Details(This allows you to give prescription to a product in different languages. This incluncles all relevant symptoms.)</p>
  
            <div class="col-4 sp-fld">
                <label class="control-label hd-cat">
                    Select Product:
                  </label>
              <select formControlName="product_Id"  name="product_Id"  class="form-control form-control-sm"
              (change)="ProductChange()" >
              <option value="" selected disabled>Select Product</option>
              <ng-container *ngFor="let prod of products">
                <option  [ngValue]="prod.id">{{prod.name}}</option>
              </ng-container>
            </select>
            </div>
            <div class="col-4 sp-fld">
                <label class="control-label hd-cat">
                    Select Language:
                  </label>
                <select formControlName="language_Id" name="language_Id" #langRef class="form-control form-control-sm"
                (change)="LanguageChange(langRef)" >
                <option value="" selected disabled>Select Language</option>
                <ng-container *ngFor="let prod of languages">
                    <option  [ngValue]="prod.id">{{prod.name}}</option>
                  </ng-container>
              </select>
              </div>

          
<br>
            <div class="input-group mb-4" *ngIf="!prod">
              <textarea rows = "5" cols = "5" style = "overflow:hidden"  type="text" class="form-control" placeholder="Please prescribe(treatment) this product in full {{lang}}" formControlName="description"></textarea>
            </div>
            <div class="input-group mb-4" *ngIf="prod">
                <textarea rows = "5" cols = "5" style = "overflow:hidden"  type="text" class="form-control" placeholder="Please prescribe(treatment) {{prod}} in full {{lang}}" formControlName="description"></textarea>
              </div>
              <br>
            <div class="input-group mb-4" *ngIf="!prod">
              <textarea rows = "5" cols = "5" style = "overflow:hidden"  type="text" class="form-control" placeholder="What can this product cure(symptoms)?, in full {{lang}}" formControlName="symptom"></textarea>
            </div>
            <div class="input-group mb-4" *ngIf="prod">
                <textarea rows = "5" cols = "5" style = "overflow:hidden"  type="text" class="form-control" placeholder="What can {{prod}} cure(symptoms)?, in full {{lang}}" formControlName="symptom"></textarea>
              </div>
  
            
  
            
            
  
    </div>
    <div class="modal-footer">
      <button type="submit" *ngIf="!isEdit" class="btn btn-primary px-4" (click)="submitForm()">Add</button>
      <button type="submit" *ngIf="isEdit" class="btn btn-primary px-4" (click)="submitForm()">Update</button>
  
    </div>
  </form>
  
  </ng-template>
  
  
  <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">Language Name</th>
        <th scope="col">Product Name</th>
        <th scope="col">Treatment</th>
        <th scope="col">Symptom</th>
        <th scope="col">Delete</th>
        <th scope="col">Edit</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let progam of productLanguages">
        <th scope="row">{{progam.l.name}}</th>
        <td scope="row">{{progam.p.name}}</td>
        <td scope="row">{{progam.pl.description}}</td>
        <td scope="row">{{progam.pl.symptom}}</td>


        <td scope="row">
          <a class="text-danger" (click)="open(content)">
            <i class="fa fa-trash-o" aria-hidden="true"></i>
          </a>
  
          <ng-template #content let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">Delete Product language</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Are you sure you want to delete this Product language?</p>
      
            </div>
            <div class="modal-footer">
              <button type="button" class="btn  decline" (click)="modal.close('Save click')">Decline</button>
              <button type="button" class="btn  delete" (click)="onDelete(progam.pl.id)">Confirm</button>
      
            </div>
          </ng-template>
  
    
        </td>
        <td scope="row">
          <a class="btn" (click)="openEdit(progam.pl.id,content1)">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
           </a>
    
        </td>
      </tr>
    </tbody>
  </table>
  