<div class="input-group">
    <input class="form-control border-secondary py-2" [(ngModel)]="searchTerm" (keyup)="searchDoctor($event)" type="search" placeholder="Search using First Name">
    <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button">
            <i class="fa fa-search"></i>
        </button>
    </div>
  </div>
  <br/>

  <input type="button"  class="btn btn-primary" value="Convert To PDF" (click)="captureScreen()"/>  
<div id="contentToConvert">
  <h4>Doctor Report</h4>
  

  
<table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <th scope="col">Cell Phone Number</th>
        <th scope="col">Specialization</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let progam of docs">
        <th scope="row">{{progam.name}}</th>
        <td scope="row">{{progam.lastName}}</td>
        <td scope="row">{{progam.email}}</td>
        <td scope="row">{{progam.phonenumber}}</td>
        <td scope="row">{{progam.specialisation}}</td>
        
      </tr>
      <tr *ngIf="noResults">
        <td>No Results Were Found!</td>
  
      </tr>
    </tbody>
  </table>
</div>
