<div class="body">
  <div class="row col-md-12">
            <div class="img-bgrnd col-md-6">
                <div id="logo">
                <!-- <img src="../../assets/Affluence-Learning-Logo.png" alt="Logo"> -->
              </div>

                <!-- <h5 class="txt-header">Register now and connect with the leading businesses around you.</h5> -->
                <div class="cont-info">

                <!-- <div class="row col-md">
                  <i class="fas fa-address-card"></i>
                  <p class="col-md text">Join now and be connected</p>           

                </div> -->
                <!-- <div class="row col-md">
                    <i class="fas fa-share-alt"></i>
                    <p class="col-md icon-txt">Share business ideas with relevant industries</p>           

                  </div> -->
                  <!-- <div class="row col-md">
                      <i class="fas fa-user-plus"></i>
                      <p class="col-md text">Add your business profile with 1Lead</p>           
  
                    </div> -->
                </div>
              </div>

            <div class="col-md-6">
                <div class="modal-header">
                  <div classs="row">
                    <h5 class="modal-title" id="modal-basic-title">Sign In Now On Vitality Home Remedies!<br> 
                      <p class="sub-header">Please provide all required details to Sign in your account.</p>
                    </h5>
                    <div class="title-panel">
                        <button type="button" class="close" (click)="closeModal()">
                        X
                        </button>
                    </div>  
                  </div>
                </div>
                <div class="modal-body">
                    <form [formGroup]="myForm" (ngSubmit)="submitForm()">

                  <div class="container">

        
                              <div class="form-group">
                          <span> <input type="text" 
                            class="form-control"
                            formControlName="email" placeholder="Email"/></span>
                            <bfv-messages></bfv-messages>
                        </div>
        
        
                            <div class="form-group">
                                <span> <input type="password" 
                                  class="form-control"
                                  formControlName="password" placeholder="Password"/></span>
                                  <bfv-messages></bfv-messages>
                              </div>

                </div>
                <br>
                <!-- <div class="modal-footer"> -->
                    <button class="btn btn-success" >
                      Login Now
                    </button>

                    &nbsp;



                  <!-- </div> -->
                  <a class="forgot-password" href="javascript:void(0);" (click)="openFormModalGenCode()">
                      Forgot Password?
                  </a>
              </form>
              <!-- <button class="btn btn-facebook" (click)="signInWithFB()">
                <i class="fa fa-facebook" aria-hidden="true"></i> Continue With Facebook
              </button> -->

                </div>      

                <p class="btn-txt" >Don't Have An Account? <button class="btn btn-success btn-register" (click)="openFormModal()">Register Here</button></p>
            </div>
      </div> 
</div>