<button type="button" class="btn btn-primary" (click)="open(content1)">
  Add Product Doctor

</button>
<br>
<br>
<ng-template #content1 let-modal>
  <form [formGroup]="myForm">

  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Product Doctor Details</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
          <p class="text-muted">Add Product Doctor Details(This allows you to link a relevant Doctor to a Product)</p>

          <div class="col-4 sp-fld">
              <label class="control-label hd-cat">
                  Select Product:
                </label>
            <select formControlName="product_Id"  name="product_Id"  class="form-control form-control-sm"
            >
            <option value="" selected disabled>Select Product</option>
            <ng-container *ngFor="let prod of products">
              <option  [ngValue]="prod.id">{{prod.name}}</option>
            </ng-container>
          </select>
          </div>
          <div class="col-4 sp-fld">
              <label class="control-label hd-cat">
                  Select Doctor:
                </label>
              <select formControlName="doctor_Id" name="doctor_Id" #langRef class="form-control form-control-sm"
               >
              <option value="" selected disabled>Select Doctor</option>
              <ng-container *ngFor="let prod of docs">
                  <option  [ngValue]="prod.id">{{prod.name}}</option>
                </ng-container>
            </select>
            </div>
          

          
          

  </div>
  <div class="modal-footer">
    <button type="submit" *ngIf="!isEdit" class="btn btn-primary px-4" (click)="submitForm()">Add</button>
    <button type="submit" *ngIf="isEdit" class="btn btn-primary px-4" (click)="submitForm()">Update</button>

  </div>
</form>

</ng-template>


<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">Doctor Name</th>
      <th scope="col">Product Name</th>
      <th scope="col">Delete</th>
      <th scope="col">Edit</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let progam of productDocs">
      <th scope="row">{{progam.d.name}}</th>
      <td scope="row">{{progam.p.name}}</td>

      <td scope="row">
        <a class="text-danger" (click)="open(content)">
          <i class="fa fa-trash-o" aria-hidden="true"></i>
        </a>

        <ng-template #content let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Delete Product language</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to delete this Product language?</p>
    
          </div>
          <div class="modal-footer">
            <button type="button" class="btn  decline" (click)="modal.close('Save click')">Decline</button>
            <button type="button" class="btn  delete" (click)="onDelete(progam.pd.id)">Confirm</button>
    
          </div>
        </ng-template>

  
      </td>
      <td scope="row">
        <a class="btn" (click)="openEdit(progam.pd.id,content1)">
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
         </a>
  
      </td>
    </tr>
  </tbody>
</table>
