.btn-primary{
    background-color: #4CBB17 !important;
    border: #4CBB17 !important;
}
.decline{
    background-color: #4CBB17;
    color: white;

}
.delete{
    background-color: red;
    color: white;
}
.table-dark{
    background-color: #4CBB17 !important;

}
.table-dark th, .table-dark td, .table-dark thead th {
    border-color: white !important;
}
.text-danger{
    cursor: pointer !important;
}
.fa-pencil-square-o{
    cursor: pointer !important;

}