<button type="button" class="btn btn-primary" (click)="open(content1)">
  Add Doctor

</button>
<br>
<br>
<ng-template #content1 let-modal>
  <form [formGroup]="myForm">

  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Doctor Details</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
          <p class="text-muted">Add Doctor Details</p>

          <div class="input-group mb-4">
            <input type="text" class="form-control" placeholder="First Name" formControlName="name">

          </div>
          <div class="input-group mb-4">
            <input  type="text" class="form-control" placeholder="Last Name" formControlName="lastName">
          </div>

          <div class="input-group mb-4">
            <textarea  type="text" class="form-control" placeholder="Specialization" formControlName="Specialisation"></textarea>

          </div>

          
          <div class="row">
            <div class="input-group mb-4">
              <input type="text" class="form-control" placeholder="Email Address" formControlName="email">
  
            </div>
            <div class="input-group mb-4">
              <input  type="text" class="form-control" placeholder="Cell Phone Number" formControlName="phonenumber">
  
            </div>
  
            
            </div>

  </div>
  <div class="modal-footer">
          <button type="submit" *ngIf="!isEdit" class="btn btn-primary px-4" (click)="submitForm()">Add</button>
          <button type="submit" *ngIf="isEdit" class="btn btn-primary px-4" (click)="submitForm()">Update</button>

  </div>
</form>

</ng-template>


<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Cell Phone Number</th>
      <th scope="col">Specialization</th>
      <th scope="col">Delete</th>
      <th scope="col">Edit</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let progam of docs">
      <th scope="row">{{progam.name}}</th>
      <td scope="row">{{progam.lastName}}</td>
      <td scope="row">{{progam.email}}</td>
      <td scope="row">{{progam.phonenumber}}</td>
      <td scope="row">{{progam.specialisation}}</td>
      <td scope="row">
        <a class="text-danger" (click)="open(content)">
          <i class="fa fa-trash-o" aria-hidden="true"></i>
        </a>

        <ng-template #content let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Delete Doctor</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to delete this doctor?</p>
    
          </div>
          <div class="modal-footer">
            <button type="button" class="btn  decline" (click)="modal.close('Save click')">Decline</button>
            <button type="button" class="btn  delete" (click)="onDelete(progam.email)">Confirm</button>
    
          </div>
        </ng-template>

  
      </td>
      <td scope="row">
        <a class="btn" (click)="openEdit(progam.id,content1)">
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
         </a>
  
      </td>
    </tr>
  </tbody>
</table>
