<app-menu></app-menu>
<br>
<br>
<br><br><br>
<br><br>

<div class="container card-body contact-form">
    <form class="form-signin" [formGroup]="myForm">
       <p><b>This is the form used to request a Doctor. You can request a Doctor by entering the details below. Notifications will be sent to relevant Doctor.</b></p>
      
      <label class="lblName" for="inputFirstName">Your Name</label>
      <div class="form-label-group">
        <input type="text" formControlName="FullName" class="form-control" placeholder="Enter your full name">
      </div>
  
      <label class="lblName" for="inputEmail">Email address</label>
        <input type="email" formControlName="email" class="form-control" placeholder="Enter an email address">
                   <br>
      <label class="lblName" for="inputPhoneNumber">Mobile Number</label>
      <div class="form-label-group">
        <input type="tel" formControlName="mobileNumber" class="form-control" placeholder="Enter your mobile number">
      </div>
  
      <label class="lblName" for="inputMessage">Describe in detail how the Doctor can help. Include your symptoms.</label>
      <div class="form-label-group">
        <textarea type="text" formControlName="message" class="form-control" placeholder="How can we assits you?"></textarea>
      </div>
  
      <br>
      <button class="btn  btn-primary" (click)="submitForm()" type="submit" [disabled]="!myForm.valid">Send</button>
      <br>
    </form>
  </div>