
  .form-signin {
    // width: 50%;
     margin: 0 auto;
   }
   .btn-primary{
       width: 100%;
       box-shadow: 0 0.5rem 1rem 0 black;
       background-color: green;
       border: green;


   }
   .lblName{
   color: black;
 }
 .card{
    box-shadow: 0 0.5rem 1rem 0 black;
    padding: 5px;

 }
 .btn-emails{
    box-shadow: 0 0.5rem 1rem 0 black;
    width: 100%;
    text-align: center;
    background-color: #0094ff;
    color: white;
    cursor: pointer;

 }
 .btn-delete{
    cursor: pointer;
    box-shadow: 0 0.5rem 1rem 0 black;
    width: 10%;
    text-align: center;
   // background-color: red;
    color: black;
    border: 2px solid white;
    font-size: 12px;

 }
 .contact-form{
     // margin-top: -15%;
     border: 2px solid white;
     box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
     width: 50%;
     margin: 0 auto;
 
 
   
   
   }
   .form-label-group {
     position: relative;
     margin-bottom: 1rem;

   }
   .footer{
     position: absolute;
     width: 100%;
     //bottom: 0;
     padding-top: 300px;
   
   
   }