
$white: #ffffff;
$blue: #0094ff;
$bluish: #bfffff;
$blue-gray:#2d4958;
$twitter: rgba(56, 161, 243, 1);
$red: #4CBB17;
$skyblue:skyblue;
$maroon : maroon;
$linkedIn:rgb(51, 51, 126);
 $brown:rgb(165, 42, 42);
 $facebook:rgb(27, 27, 107);

.btn-primary{
 // background: #442829;
  box-shadow: 0 0.5rem 1rem 0 rgba(199, 18, 18, 0.1);
  border: 2px solid $red; 

}

.btn-facebook{
  background: $facebook;
  color: white !important;
}
.web-site-bottom {
   padding-top: 30px;
   background: white;
   overflow: hidden;
   width: 100%;
   left: 0;
   bottom: 0;
   border-top: 3px solid $red;
   font-size: 12px;
   font-weight: 300;
   padding-bottom: 0px;
   color: $white;
  // justify-content: left;
 //  padding-left:10rem;
   


}
.left-foot {
  display: inline;
  display: flex;
  align-items: center;
  justify-content: center
}
ul, menu, dir {
  margin-top: -2%;
}

li {
   line-height: 18px;
   list-style: none;
   float: left;
   padding: 0 5px;
   display: list-item;
   text-align: -webkit-match-parent;
   color:$red;
   font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    

}
.clearfix{
  //float: right;
  //margin-right: 59%;
  //padding-top: 5%;
  margin: 0 auto;
 // padding-left:2rem;
  color:$red;
  font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center

}
a{
  color:$red;
}
.social-btn{
 // margin-left: 50%;
 border-width: 0px;
  border-style: solid;
  //float: right;
  padding-top: 2%;
  display: flex;
  align-items: center;
  justify-content: center

}
.fa-twitter-square{
  background: $skyblue;
  font-size: 20px;
}
.fa-facebook{
  background: $facebook;
  font-size: 20px;

}
.fa-linkedin-square{
  background: $linkedIn;
  font-size: 20px;

}
.fa-instagram{
  background: $maroon;
  font-size: 20px;

}

.btn-tw{
  background: $twitter;
  color: white !important;
}
.btn-gplus{
  background: white;
}
.btn-li{
  background: $linkedIn;
  color: white !important;

}
.btn-ins{
  background: $maroon;
  color: white !important;

}


// @media screen and (max-width: 992px) {
//   .web-site-bottom {
//     padding-top: 0px;
//     background: $blue;
//     overflow: hidden;
//     width: 100%;
//     left: 0;
//     bottom: 0;
//     border-top: 3px solid $red;
//     font-size: 0.938em;
//     font-weight: 300;
//     padding-bottom: 0px;
//     color: $white;
//     justify-content: left;
//     padding-left:0;

//  }

//  .clearfix span{
//   display: block;
//   font-size: 14px;

// }
// ul, menu, dir {
//   margin-top: 2%;
// }

// }
@media screen and (max-width:  736px) {

.left-foot{
  //padding-top: 100%;
  font-size: 10px;

}
 .clearfix span{
  padding-top: 5%;
  font-size: 10px;


}
.social-btn{
  padding-top: 10%;
}
ul, menu, dir {
  margin-top: 2%;
}
.clearfix{

  padding-top: 0%;
  margin: 0 auto;
  padding-left:0.5rem;

}



}
