<div class="web-site-bottom">
  <div class="main-footer">
    <div class="left-foot">
        <ul>
            <li><a routerLink="/home">Home</a></li>
            <li>|</li>
            <li><a routerLink="/about-us">About Us</a></li>
            <li>|</li>
            <li><a routerLink="/contact">Contact Us</a></li>
            <!-- <li>|</li>
            <li><a routerLink="/career">Careers</a></li> -->
            
        </ul>
      </div>
      <ul class="social-btn"> 
                 
            <li><a type="button" class="btn btn-tw" (click)="click('twitter')"><i class="fa fa-twitter-square" aria-hidden="true"></i>
            </a></li>
            <li><a type="button" class="btn btn-facebook" (click)="click('facebook')"><i class="fa fa-facebook" aria-hidden="true"></i>
            </a></li>
            <li><a type="button" class="btn btn-li" (click)="click('linkedin')"><i class="fa fa-linkedin-square" aria-hidden="true"></i>
            </a></li>
            <li><a type="button" class="btn btn-ins" (click)="click('instagram')"><i class="fa fa-instagram" aria-hidden="true"></i>
            </a></li>
      </ul>

  <div class="clearfix">&nbsp;
      
         <span> <a routerLink="/home-terms">Privacy Policy</a> | © Copyright {{year}} by Vitality Home Remedies. All Rights Reserved.</span>
         
   </div>
  </div>
  </div>