<app-menu></app-menu>
<br>
<br>
<br>
<br>

<ngb-carousel>

  <ng-template ngbSlide>
    <img class="img" src="assets/person-holding-container-with-seaweed-2280568.jpg" alt="Random first slide">

    <div class="carousel-caption">
      <h3 class="banner-txt1">Search For Your Cure</h3>
      <h3 class="banner-header"><b>Health Status</b></h3>
      <p class="banner-txt">Register to get assitance now<br> and just know we care about your health</p>
      <!-- <div *ngIf="!token">
            <button type="button" class="btn btn-banner" (click)="openRegisterFormModal()" >
              Register Now And Get 2 Days Trial
             </button>
          </div> -->

    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img class="img" src="assets/laptop-near-teal-stethoscope-in-wooden-table-3758756.jpg" alt="Random first slide">

    <div class="carousel-caption">
      <h3 class="banner-txt1">Search For Your Cure</h3>
      <h3 class="banner-header"><b>Health Status</b></h3>
      <p class="banner-txt">Register to get assitance now<br> and "Live Better".</p>
      <!-- <div *ngIf="!token">
                <button type="button" class="btn btn-banner" (click)="openRegisterFormModal()" >
                  Register Now And Get 2 Days Trial
                 </button>
              </div> -->
    </div>
  </ng-template>


</ngb-carousel>
<br>
<div class="page" *ngIf="!viewDetails">

  <div class="intro-info">
    <p>
      Can you please explain in detail how you feeling today. When we say "Live Better" we mean it, because we care
      about your health.</p>

    <div class="input-group">

      <input class="form-control border-secondary py-2" [(ngModel)]="searchTerm" type="search"
        placeholder="Search here and get your health status now">
      <button (click)="searchPrograms()">
        <i class="fa fa-search"></i>
      </button>
    </div>
  </div>
  <br>
  <br>

  <div class="row">
    <div class="col-md-4 d-flex align-items-stretch"
      *ngFor="let info of products  | paginate: { itemsPerPage: 3, currentPage: p }">
      <div class="card" href="javascript:void(0);" (click)="getDetails(info)" title="View Product Details">
        <img src="../../assets/logo.jpg" alt="Cover Page" height="150">
        <div class="card-body">
          <h5 class="card-title"><b>{{info.product.name}}</b>
            <div class="info-institution">Language: {{info.language.name}}</div>
            <div class="info-institution">Doctor name: {{info.doctor.name}}</div>

          </h5>

          <hr class="hr-text">
          <b><u>Helps with</u></b>:<br> {{info.productLanguage.symptom}}
          
        </div>
      </div>
      <br />

      <br />
      <br />
    </div>

  </div>
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />

  <div *ngIf="noResults">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>




  <br />
  <br />
</div>

<div class="page" *ngIf="viewDetails && viewData">

  <div class="col-md-12">
  <div class="card-my">
    <div class="card-body-my">
      <h5 class="card-title"><b>Product Name: {{viewData.product.name}}</b>
        <div class="info-text">Language: {{viewData.language.name}}</div>
        <div class="info-text"><b>Treatment:</b><br />{{viewData.productLanguage.description}}</div>

      </h5>
      <h5 class="card-title"><b>Doctor Details</b>
        <div class="info-text">Doctor name: {{viewData.doctor.name}}</div>
        <div class="info-text">Doctor Specialization: {{viewData.doctor.specialisation}}</div>

      </h5>
      
      <hr class="hr-text">
      <b><u>Symptoms</u></b>:<br> {{viewData.productLanguage.symptom}}
      <br />

      
    </div>   
       <br />
       <br />

      <button class="btn btn-success btn-md m-clr pull-right hd-btn mr-2" style="float: left !important;width: 200px;" (click)="book()">Book Dr. {{viewData.doctor.lastName}}</button>
      <button class="btn btn-success btn-md m-clr pull-left hd-btn mr-2" style="float: right !important;width: 200px;" (click)="back()">Back</button>

   
  </div>
  <br />

  <br />
  <br />
</div>

</div>

<br />
<br />

<app-page-footer></app-page-footer>