
$blue:#007DBC;
$white:#ffffff;
$grayish: #f6f6f6;
$red: #4CBB17;

h2 {
	color: #333;
	text-align: center;
	text-transform: uppercase;
	font-family: "Roboto", sans-serif;
	font-weight: bold;
	position: relative;
	margin: 30px 0 60px;
}
h2::after {
	content: "";
	width: 100px;
	position: absolute;
	margin: 0 auto;
	height: 3px;
	background: $blue;
	left: 0;
	right: 0;
	bottom: -10px;
}
.col-center {
	margin: 0 auto;
	float: none !important;
}
.carousel {
	//margin: 50px auto;
	//padding: 0 70px;
}
.carousel .item {
	color: #999;
	font-size: 14px;
    text-align: center;
	overflow: hidden;
    min-height: 290px;
}
.carousel .item .img-box {
	width: 135px;
	height: 135px;
	margin: 0 auto;
	padding: 5px;
	border: 1px solid #ddd;
	border-radius: 50%;
}
.carousel .img-box img {
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 50%;
}
.carousel .testimonial {
    padding: 70px 0 0px;
    margin-top: 30px;
}
.carousel .overview {	
	font-style: italic;
}
.carousel .overview b {
	text-transform: uppercase;
	color: $blue;
}
.carousel .carousel-control {
	width: 40px;
    height: 40px;
    margin-top: -20px;
    top: 50%;
	background: none;
}
.carousel-control i {
    font-size: 68px;
	line-height: 42px;
    position: absolute;
    display: inline-block;
	color: rgba(0, 0, 0, 0.8);
    text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}
.carousel .carousel-indicators {
    bottom: -40px;
    display: none;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 10px;
	height: 10px;
	margin: 1px 3px;
	border-radius: 50%;
}
.carousel-indicators li {	
	background: #999;
	border-color: transparent;
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}
.carousel-indicators li.active {	
	background: #555;		
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}


.card:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}
.txt-tutor-sub{
    text-align: center;
    font-family: "Work Sans", sans-serif;
    font-size: 14px;
    color: #6a7173;
}
.txt-tutor-header{
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 32px;
    color: #202020;
    text-align: center;

    
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

  .banner {
    position: relative;
  }
  .img1{
    width: 100%;
    position: relative;
   // height: 300px;

}
.txt-up{
    margin-bottom: 70px;
}
.checked {
    color: orange;
  }
.txt-intext{
    font-size: 20px;
    color: $blue !important;
   text-align: center;

}
.txt-card{
    height: 150px;
    box-shadow: 0 0.5rem 1rem 0 black !important;

}
.line{
    border: $blue;
    border-style: solid ;
    width: 8%;
    
}
.line-grey{
    border-bottom:1px solid grey;
    width: 100%;
}
.txt-center{
   // text-align: center;
}
.txt-top-course{
    font-size: 15px;
    color: black !important;
    border-bottom: 5px solid $blue;
    width: 100px;
}
.img{
    position: relative;
    width: 100%;
}
.card-img-top1{
    height: 1%;
}
.footer{
    position: absolute;
    width: 100%;
    bottom: 0;
    //padding-top: 300px;
  
  
  }
.txtPrice{
  //  text-decoration: line-through;
}
.input-group{
  //  width: 80%;
padding: 5px;
}
.h1{
    color: #442829;
}
.card{
   // height: 100%;
    background: #f6f6f6 none repeat scroll 0 0;
    box-shadow: 0 0.5rem 1rem 0 rgba(199, 18, 18, 0.1);

}
.intro{
    height: 95%;
}
.text-block {
     position: absolute;
    bottom: 50px;
    right: 300px;
  //  background-color: #0094ff;
    color: white;
    //padding-left: 50px;
   // padding-right: 20px;
    box-shadow: white;
  //  border: 2px solid white;


  }
.intro{
    width: 290px;
    cursor: pointer;


}
.card-body{
    width: 290px;
    cursor: pointer;
    border: 2px solid white;
    box-shadow: 0 0.5rem 1rem 0 black;
}
.card-body-my{
    border: 2px solid white;
    box-shadow: 0 0.5rem 1rem 0 black;
    padding: 5px;

}

    .intro-info{
        background: linear-gradient(to bottom, #5db44c 0%,#88c081 100%);
        padding: 5px;
        color: white !important;
       // font: 16px/19px Tahoma,Geneva,sans-serif;
        border-radius: 5px;
    }
.card-title{
    color:#442829 !important;
    font-size: 20px;
}
.info-institution{
    font-size: 10px !important;

}
.info-text{
    font-size: 12px !important;

}
.btn{
    background-color: $red !important;
    border-color:$red !important;
    width: 100%;
}

.btn-banner{
    background-color: $blue !important;
    border-color:$blue !important;
    width: 25%;
    color: white;
    padding: 5px;
}

.price{
    width: 100%;
   // border-color: $red !important;
    background-color: $blue !important;
    color: #ffffff;
}

.txt-head{
    text-align: center;
}

.card-img-top{
    width:100%;
    height:200px;
}
.banner-header{
    color: white !important;
    font-size: 75px;
    padding-top: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    letter-spacing: -1px;
    margin-top: 16px;
    box-shadow: 0 0.5rem 1rem 0 black;

}
.banner-txt{
    color: white !important;
    font-size: 28px;
padding-top: 20px;
font-family: "Montserrat", sans-serif;

    
}
.banner-txt1{
    font-size: 24px;
    letter-spacing: 14px;
    color: white !important;
    box-shadow: 0 0.5rem 1rem 0 black;
   // display: flex;

}
.banner-txt3{
    font-size: 53px;
    margin-top: 15px;
    // margin: 0 auto;

}
.btn-down{
    margin-top: 15px;

}
.banner-txt2{
    font-size: 16px;
    letter-spacing: 10px;
    margin-top: 75px;
    color: white !important;
    text-transform: uppercase;

  //  box-shadow: 0 0.5rem 1rem 0 black;

}
@media screen and (max-width:  992px) {
    
    .banner-txt3{
        font-size: 1px;
        margin-top: 5px;
        // margin: 0 auto;
    
    }
    .banner-txt2{
        font-size: 6px;
        letter-spacing: 10px;
       // margin-top: 75px;
        color: white !important;
        text-transform: uppercase;
    
      //  box-shadow: 0 0.5rem 1rem 0 black;
    
    }
    .txt-up{
        margin-bottom: 0px;
    }
    .card{
        height: 100%;
        width: 100%;
        margin-top: 50px;
    }
    .banner-txt1{
        font-size: 10px;
        letter-spacing: 2px;
        color: white !important;
        box-shadow: 0 0.5rem 1rem 0 black;
    
    }
    .banner-header{
        color: white !important;
        font-size: 10px;
        padding-top: 0px;

    }
    .banner-txt{
        color: white;
        font-size: 10px;
        padding-top: 0px;

    }
    .btn-banner{
        
        display: none;
    }
}
@media screen and (max-width:  414px) {
    .card{
        height: 100%;
        width: 100%;
        margin-top: 15px;
    }
    .banner-header{
        margin: 0 auto;
    }

      h1{
          font-size: 20px;
          font-weight: 450;
      }
      .banner-txt3{
        font-size: 1px;
        margin-top: 5px;
        // margin: 0 auto;
    
    }
    .banner-txt2{
        font-size: 6px;
        letter-spacing: 10px;
       // margin-top: 75px;
        color: white !important;
        text-transform: uppercase;
    
      //  box-shadow: 0 0.5rem 1rem 0 black;
    
    }
    .txt-up{
        margin-bottom: 0px;
    }
    .card{
        height: 100%;
        width: 100%;
        margin-top: 50px;

    }
    .banner-txt1{
        font-size: 8px;
        letter-spacing: 2px;
        color: white !important;
        box-shadow: 0 0.5rem 1rem 0 black;
    
    }
    .banner-header{
        color: white !important;
        font-size: 8px;
        padding-top: 0px;

    }
    .banner-txt{
        color: white;
        font-size: 8px;
        padding-top: 0px;

    }

}
.hr-text {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: black;
    text-align: center;
    height: 1.5em;
    opacity: .5;
    &:before {
      content: '';
      // use the linear-gradient for the fading effect
      // use a solid background color for a solid bar
      background: linear-gradient(to right, transparent, #818078, transparent);
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: 1px;
    }
    &:after {
      content: attr(data-content);
      position: relative;
      display: inline-block;
      color: black;
  
      padding: 0 .5em;
      line-height: 1.5em;
      // this is really the only tricky part, you need to specify the background color of the container element...
      color: #818078;
      background-color: #fcfcfa;
    }
}