<div class="body">
  <div class="row col-lg-12 lower-modal">
    <div class="img-bgrnd col-md-6">
      <div id="logo">
        <!-- <img src="../../assets/Affluence-Learning-Logo.png" alt="Logo"> -->
      </div>

      <!-- <h5 class="txt-header">Register now with us.</h5> -->
      <div class="cont-info">

        <!-- <div class="row col-md">
                  <p class="col-md text">Education is key to success</p>    
                  <p class="col-md icon-txt">Explore one the best study materials</p>
                  <p class="col-md text">Enjoy</p>           
           
       

                </div> -->

      </div>
    </div>

    <div class="col-md-6">
      <!-- <div class="modal-header">
                  <div classs="row">
                    <h5 class="modal-title" id="modal-basic-title">Register Your Details <br> 
                      <p class="sub-header">Please provide all required details to register your information with us</p>
                    </h5>
                    <div class="title-panel">
                        <button type="button" class="close" (click)="closeModal()">
                        X
                        </button>
                    </div>  
                  </div>
                </div> -->
      <div class="modal-body">

        <form [formGroup]="myForm" (ngSubmit)="submitForm()">

          <div class="container">



            <div class="form-group">
              <span> <input type="text" class="form-control" formControlName="firstName"
                  placeholder="First Name"></span>
              <!-- <bfv-messages></bfv-messages> -->
            </div>
            <div class="form-group">
              <span> <input type="text" class="form-control" formControlName="lastName"
                  placeholder="Last Name"></span>
              <!-- <bfv-messages></bfv-messages> -->
            </div>
            <div class="form-group">
              <span> <input type="text" class="form-control" formControlName="phonenumber" placeholder="Phone Number" /></span>
              <!-- <bfv-messages></bfv-messages> -->
            </div>
            <div class="form-group">
              <span><input type="text" class="form-control" formControlName="email"
                  (keydown.space)="$event.preventDefault();" placeholder="Email Address" /></span>
              <!-- <bfv-messages></bfv-messages> -->
            </div>
            
            <div class="form-group">
              <span><input type="text" class="form-control" formControlName="IdNumber"
                  (keydown.space)="$event.preventDefault();" placeholder="Id Number" /></span>
            </div>


            <div class="form-group">
              <span> <input type="password" class="form-control" formControlName="password"
                  placeholder="Password" /></span>
              <!-- <bfv-messages></bfv-messages> -->
            </div>
            <div class="form-group">
              <span> <input type="password" class="form-control" formControlName="confirmPassword"
                  placeholder="Confirm Password" /></span>
              <!-- <bfv-messages></bfv-messages> -->
            </div>
            <p class="password-format"><span style="color:red;">*&nbsp;</span>Password must include min of 8 characters, uppercase & symbol
            </p>
            <div class="form-group">
                <span><input type="checkbox" formControlName="termsAgreement" value="false" (click)="toggle()"> &nbsp;I Agree
                  to&nbsp;<a (click)="closeModal()" routerLink="/reg-terms">Terms & Conditions</a></span>
                  <br>
                  <span *ngIf="termsErrMsg" class="termsErrorMessage">{{termsErrMsg}}</span>
              </div>
          </div>
          <!-- <div class="modal-footer"> -->
          <div class="register-btn">
            <button class="btn btn-primary">
              Register
            </button>
          </div>
          <!--&nbsp;
           <button class="btn btn-success" (click)="closeModal()">
            Close
          </button> -->

          <!-- </div> -->
        </form>
        <!-- <p class="btn-txt">By Clicking Register You Agree To <a (click)="closeModal()" routerLink="/reg-terms">Terms &
            Conditions</a></p> -->
      </div>
    </div>
  </div>
</div>