
$blue:#4CBB17;
$black: black;
$grayish: #DCDCDC;
$red: #442829;

h5{
    color:$blue;
    font-weight: bold;
    text-transform: none !important;
    margin: 0 auto;
}
.password-format{
    font-size: 10px;
}
.modal-title{
    width:80%;
    float: left;;
}

.title-panel{
    width:20%;
    float:right;
    // padding: 3%;
}
   

form-group label{
    position: absolute;
}

form-group input{
    color:$black;
margin-left: 9rem;
}
form-group select{
    color: $black;
    margin-left: 9rem;
}

img{
    width: 60%;
    //border-radius: 600%;
    //border-color: red;
}
#logo{
    padding-left: 7rem;
    padding-top: 55%;

}

.body{
    width: 100%;
    background-color: $grayish;
    margin: 0 auto;
}
.modal-header,.modal-body
{
    width: 100%;
}
.img-bgrnd{
 background-color:$blue;
 background-image: url('../../assets/green.png');

}

.sub-header{
    font-size: 12px;
}
.txt-header{
    color: $grayish;
    font-weight: bold;
   // padding-left: 5rem;
   // margin-left: 10%;
    margin-top: 12%;
}
.btn-txt{
    padding-left: 1rem;
    padding-right: 1rem;
}
.icon-txt{
    color: $grayish;
    padding-left: 1.5rem;
    font-size: 15px;


}
.col-md .text{
    color: $grayish;
    font-size: 15px;
    display: inline;


}
.fa-address-card{
    font-size: 30px;
    color: $grayish;

}
.fa-share-alt{
    font-size: 30px;
    color: $grayish;

}
.fa-user-plus{
        font-size: 30px;
    color: $grayish;

}
.cont-info{
    padding-top: 14%;
    padding-left: 8%;
}
.col-xsm-12{
    padding: 2%;
}
.btn{
    border-color: $blue !important;
    background-color: $blue !important;
    text-transform: uppercase;
}

.register-btn {
    width: 100%;
    text-align: center;
}

.termsErrorMessage {
    color: red;
    font-weight: lighter;
    font-size: 13px;
}

@media screen and (max-width: 992px) {
    .img-bgrnd{
        background-color:$grayish;
        display: none;

       }
       .icon-txt{
        color: $blue;
        padding-left: 1.5rem;
        font-size: 15px;
    
    
    }
    .col-md .text{
        color: $blue;
        font-size: 15px;
        display: inline;
    
    
    }
    .fa-user-plus:before{
        color: $blue;

    }
    .fa-address-card:before{
        color: $blue;

    }
    .fa-share-alt:before{
        color: $blue;

    }
    .body{
        width: 110%;

    }
  }
  @media screen and (max-width:  414px) {
    .body{
        width: 100%;
    }
}