<button type="button" class="btn btn-primary" (click)="open(content1)">
    Add Language
  
  </button>
  <br>
  <br>
  <ng-template #content1 let-modal>
    <form [formGroup]="myForm">
  
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Language Details</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
            <p class="text-muted">Add Language Details</p>
  
            <div class="input-group mb-4">
              <input type="text" class="form-control" placeholder="Language Name" formControlName="name">
  
            </div>
            <div class="input-group mb-4">
              <textarea  type="text" maxlength="255" class="form-control" placeholder="Please Describe This Language In Full(in less than 255 words)" formControlName="description"></textarea>
            </div>
  
            
  
            
            
  
    </div>
    <div class="modal-footer">
      <button type="submit" *ngIf="!isEdit" class="btn btn-primary px-4" (click)="submitForm()">Add</button>
      <button type="submit" *ngIf="isEdit" class="btn btn-primary px-4" (click)="submitForm()">Update</button>
  
    </div>
  </form>
  
  </ng-template>
  
  
  <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Delete</th>
        <th scope="col">Edit</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let progam of languages">
        <th scope="row">{{progam.name}}</th>
        <td scope="row">{{progam.description}}</td>
        <td scope="row">
          <a class="text-danger" (click)="open(content)">
            <i class="fa fa-trash-o" aria-hidden="true"></i>
          </a>
  
          <ng-template #content let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">Delete Language</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Are you sure you want to delete this language?</p>
      
            </div>
            <div class="modal-footer">
              <button type="button" class="btn  decline" (click)="modal.close('Save click')">Decline</button>
              <button type="button" class="btn  delete" (click)="onDelete(progam.id)">Confirm</button>
      
            </div>
          </ng-template>
  
    
        </td>
        <td scope="row">
          <a class="btn" (click)="openEdit(progam.id,content1)">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
           </a>
    
        </td>
      </tr>
    </tbody>
  </table>
  